body {
    font-family: var(--font-sans-serif);
    background-color: var(--color-bg);
    color: var(--color-font);
    caret-color: var(--color-font);
    transition: color, background-color 0.5s ease 0s;
    letter-spacing: -0.0125em;
}
::selection {
    background: var(--color-teal);
}
p {
    line-height: 1.75em;
}
hr {
    border: 0em;
    height: 0.0625rem;
    background-color: var(--color-gray-2);
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 0em;
}
h2 {
    font-size: 2.25rem;
    margin-bottom: 0em;
}
h3 {
    font-size: 2rem;
    margin-bottom: 0em;
} 
h4 {
    font-size: 1.75rem;
    margin-bottom: 0em;
}
h5 {
    font-size: 1.5rem;
    margin-bottom: 0em;
}
h6 {
    font-size: 1.25rem;
    margin-bottom: 0em;
}
table {
    width: 100%;
    max-width: 44rem;
    border-collapse: collapse;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
thead {
    border-bottom: 0.0625rem;
    border-bottom-style: solid;
    border-color: var(--color-gray-4);
}
tfoot {
    border-top: 0.0625rem;
    border-top-style: solid;
    border-color: var(--color-gray-4);
}
th, td {
    padding: 0.875rem;
}
ol {
    padding-inline-start: 2.25em;
    margin-block-start: 1.25em;
    margin-block-end: 1.25em;
}
li {
    line-height: 2em;
}