@import "vars.css";

body {
    font-family: var(--font-sans-serif);
}
body.dark {
    font-family: var(--font-sans-serif);
    background-color: gray;
}

.post-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    padding: 23px 24px;
}

.test {
    list-style: none;
    display: flex;
    align-content: flex-end;
}

.header-container {
    display: flex;
    align-items: flex-end;
}

.tttt {
    display: none;
}

.title {
    box-shadow: none;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-family: var(--font-serif);
    font-size: 2em;
    font-weight: 700;
}

.page {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    padding: auto;
}