@import "vars.css";

body {
    font-family: var(--font-sans-serif);
}

h1 {
    font-family: var(--font-sans-serif);
    font-weight: 1500;
}

h3 {
    font-family: var(--font-sans-serif);
}
.post-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    padding: 23px 24px;
}

.test {
    list-style: none;
    display: flex;
    justify-content: space-between;
}