@import "vars.css";

body {
    font-family: var(--font-sans-serif);
}
body.dark {
    background-color: gray;
}

.site-container {
    margin: auto;
    padding: auto;
    max-width: 720px;
}

.header-container {
    display: flex;
    align-items: baseline;
}

.header-title {
    box-shadow: none;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-family: var(--font-serif);
    font-size: 2.5em;
    font-weight: 700;
}

.test {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-nav {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.header-social {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.header-nav li {
    margin-left: 8px;
    margin-right: 8px;
}

.post-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    padding: 23px 24px;
}

.tog-checkbox {
    display: none;
}


