@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');

:root{
  /* Fonts */
  --font-title: 'Playfair Display', serif;
  --font-sans-serif: 'Open Sans', sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --font-light: 300;
  --font-normal: 400;
  --font-bold: 700;
  --font-heavy: 900;
}

body.light {
  --color-bg: rgba(255, 255, 255, 0.9);
  --color-font: rgba(0, 0, 0, 0.8);
  --color-postcard: rgba(0, 0, 0, 0.1);
}

body.dark {
  --color-bg: rgba(0, 0, 0, 0.9);
  --color-font: rgba(255, 255, 255, 0.8);
  --color-postcard: rgba(255, 255, 255, 0.1);
}